@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}
/* vue3 Popper style */
.green-popper {
  --popper-theme-background-color: #4ea476;
  --popper-theme-background-color-hover: #4ea476;
  --popper-theme-text-color: #fff;
  --popper-theme-border-width: 1px;
  --popper-theme-border-style: solid;
  --popper-theme-border-color: #eeeeee;
  --popper-theme-border-radius: 4px;
  --popper-theme-padding: 16px;
  --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
}
.white-popper {
  --popper-theme-background-color: #fff;
  --popper-theme-background-color-hover: #fff;
  --popper-theme-text-color: #464646;
  --popper-theme-border-width: 1px;
  --popper-theme-border-style: solid;
  --popper-theme-border-color: #eeeeee;
  --popper-theme-border-radius: 8px;
  --popper-theme-padding: 28px 24px;
  --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
}

/* leaft icon style */
.popup .popup-title {
  color: #316649;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
}
.popup .popup-content {
  color: #464646;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
}

.m-bike-popup {
  min-width: 16.8125rem;
  border: 2px solid #88c6a5;
  border-radius: 8px;
  box-shadow: 3px 3px 8px rgba(154, 154, 154, 0.25);
}

.m-bike-popup .leaflet-popup-content-wrapper {
  border-radius: 8px;
}

.leaflet-popup-tip-container {
  display: none;
}

.leaflet-div-icon {
  background: transparent !important;
  border: none !important;
}

.custom-div-icon {
  font-weight: bold;
  font-size: 22px;
  position: absolute;
  top: 36px;
  left: 36px;
  display: inline-block;
  min-width: 20px;
  text-align: center;
}

.m-custom-div-icon {
  font-weight: bold;
  font-size: 15px;
  position: absolute;
  top: 32px;
  left: 27px;
  display: inline-block;
  min-width: 20px;
  text-align: center;
}

/* RWD settings */
@media screen and (min-width: 320px) {
  html {
    font-size: calc(100% + 2 * (100vw - 375px) / 45);
    font-size: calc(16px + 2 * (100vw - 375px) / 45);
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: calc(100% + 2 * (100vw - 375px) / 39);
    font-size: calc(16px + 2 * (100vw - 375px) / 39);
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: calc(112.5% + 4 * (100vw - 414px) / 586);
    font-size: calc(17px + 4 * (100vw - 414px) / 586);
  }
}
@media screen and (min-width: 600px) {
  html {
    font-size: 16px;
  }
}
